:root { 
--white_A700_b2:#ffffffb2; 
--deep_orange_A200:#ff6447; 
--gray_900_cc:#1c1c1fcc; 
--deep_purple_401:#735acc; 
--deep_purple_400:#8343dc; 
--indigo_A200:#596fff; 
--white_A700_cc:#ffffffcc; 
--gray_900_0c:#1c1c1f0c; 
--black_900:#000000; 
--deep_purple_A200:#854af6; 
--red_A700:#ff0000; 
--white_A700_e5:#ffffffe5; 
--gray_400:#b2b2b2; 
--gray_901:#161616; 
--blue_700:#2874de; 
--gray_900_cc1:#171717cc; 
--gray_902:#232323; 
--blue_701:#2e77db; 
--red_A200:#fd5d60; 
--gray_800:#505050; 
--gray_900:#1c1c1f; 
--bluegray_100:#d9d9d9; 
--gray_200:#eeeeee; 
--gray_300:#e4e4e4; 
--white_A700:#ffffff; 
--cyan_500:#00bbe6; 
}